API_PORT=8000
APP_NAME=R_CHAT
JWT_SECRET_KEY=ggwpfuncinson123fa
REDIS_URL=redis://default:matkhauredishihi123@103.150.125.60:6378
DATABASE_NAME=duckduck
DB_CONNECTION_STRING=mongodb://mongo:binancebinancebinance@103.150.125.60:6668/duckduck?authSource=admin
KAFKA_BROKER_CONNECTION_STRING=localhost:9200

RTC_MIN_PORT=10000
RTC_MAX_PORT=11000
MEDIASOUP_LISTEN_IP=127.0.0.1
MEDIASOUP_ANNOUNCED_IP=127.0.0.1
NUM_WORKER=8